*{
margin: 0;
padding: 0;
} 

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100.01%;
	width: 100.01%;
	color: #000;
    background: url('../images/316828.jpg') no-repeat fixed;

}

a{
	text-decoration: none;
	color: #000000;
}

h1, h2, h3, h4, h5, h6{
	color: #97090c;
	font-weight: bold;
}

.container
{
    width: 980px;
	height: 100%;
	margin: 0 auto;
    padding: 5px;
	font-size: 70%;
}
.header
{
	width: 100%;
    height: 30px;
}


.content
{
    width: 98%;
    float: left;
    padding: 5px;
    background: #ffffff;
    font-size: 90%;
    margin-bottom: 10px;
    border: 1px solid #00aded;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    
}
.footer
{
    background-color: #F64600;
    height: 30px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #00aded;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

/* */

#top-menu{
    background-color: #cccccc;
    height: 30px;
}
#top-menu ul{
    list-style: none;
}
#top-menu ul li{
    float: left;
    width: 150px;
    line-height: 30px;
    text-align: center;
    margin: 0 4px 0 4px;
}
#top-menu ul li a{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 110%;
    padding: 0 10px 0 10px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}


#top-menu ul li:hover div{
    display: block;
}
#top-menu ul li:hover div ul li a:hover{
    background: #dadada;
    color: #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#top-menu ul li:hover a, #top-menu ul li a.active{
    background: #f7f7f7;
    color: #000;
}
#top-menu ul li:hover .has-child{
    border: 1px solid #a7a7a7;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: none;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}
.sub-menu{
    min-width: 150px;
    padding: 5px;
    position: absolute;
    display: none;
    background-color: #f7f7f7;
    border: 1px solid #a7a7a7;
    border-top: none;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.sub-menu ul li{
    min-width: 150px;
    clear: both;
}
.sub-menu ul li a{ 
    line-height: 20px;
    text-align: left;
    padding: 0;
}
