.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.export-nav{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.nav-link .active{
    background-color: #eee;
}
.main{
    width: 60%;
    margin: 0 auto;
}

/* Calendar Custom */
.cal-month-box [class*="cal-cell"] {
  min-height: 90px;
}

.cal-month-day {
  min-height: 90px;
  height: 90px;
}

.map-images{
    width: 300px;
    height: 300px;
    display: block;
}
.page-header{
    margin: 0 20px;
}
.event-red{
    background-color: #ff3333;
}
.event-orange{
    background-color: #ff9900;
}
.event-green{
    background-color: #99ff66;
}