@media (min-width: 1000px) {
  .containerx  {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
}
.form-signin{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}



.content-left{
	float:left;
	width: 10%;
	padding: 20px;
}
.content-right{
	float:left;
	width: 90%;
	padding: 20px;
}
.navbar{
    margin-bottom:0px;
    
}
.row-down{
    margin-top: 51px;
}
.content-padding{
    padding: 15px;
}
.clearleftright{
    clear:both;
}
.trspace{
    border-spacing: 30px;
    margin-top: 10px;
}
.bg-white{
    background: #fff;
}
.add-margin-bot{
    margin-bottom: 15px;
}
.pushto-right{
	float: right;
}
.center-title th{
    text-align: center;
}
.main{
    padding: 0;
}
.navbar-inverse{
    background-color: #1d431e;
}
.navbar-inverse .navbar-brand {
    color: #9FB79A;
}
.navbar-inverse .navbar-nav>li>a {
    color: #9FB79A;
    font-weight: bold;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #517D51;
}