.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.export-nav{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.nav-link .active{
    background-color: #eee;
}
.main{
    width: 60%;
    margin: 0 auto;
}

/* Calendar Custom */
.cal-month-box [class*="cal-cell"] {
  min-height: 70px;
}

.cal-month-day {
  min-height: 70px;
  height: 70px;
}

.map-images{
    width: 300px;
    height: 300px;
    display: block;
}
.page-header{
    margin: 0 20px;
}
.event-red{
    background-color: #ff3333;
}
.event-orange{
    background-color: #ff9900;
}
.event-green{
    background-color: #99ff66;
}
.spasi{
  padding-top: 7px;
  height: 60px;
}
.form-group1 {
  margin-bottom: 7px;
}
.form-group2 {
  margin-bottom: 0px;
  padding-left: 0px;
}
.modal-body1 {
  position: relative;
  padding: 12px;
}
.modal-body2 {
  position: relative;
  padding: 7px;
}
.col-sm-2a {
    width: 0%;
  }
.modal-body1 {
  position: relative;
  padding: 13px;
}

/* menghilangkan url window.print() */
@media print {
  .footer
  {
    display: none;
  }
}
@page 
  {
    size: auto;
    margin: 0mm;
  }

@media print {
  ...
  a[href] {
    content: " (" attr(href) ") ";
  }
  ...
}
a.btn1 {
  color: #ffffff;
  
}

.btn2 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.form-control1 {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-group1 {
  margin-bottom: 9px;
}
.col-lg-1 {
    width: 10%;
  }
.col-lg-2 {
    width: 14%;
  }

/* untuk print training */
table#table3 
{
  border-collapse: collapse;
  width: 100%;
}
  table#table3 td, table#table3 th {
  border: thin solid #ccc;
  padding: .2em;
}
  /* table#table3 thead tr th:first-child {
  width: 40px;
  } */

/* css untuk print */
/* 
@media screen{
  #printSection {
      display: none;
  }
}
@media print {
  body * {
    margin: 0; padding: 0;
    visibility:hidden;
    font: 18px/1.4 Georgia, serif;
    line-height: 1.3;
    border: 0;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left: 50px;
    top: 20px;
  }

div,
textarea {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }

input {
    border-bottom : 1px solid;
    border-top : 0px;
    border-right: 0px;
    border-left:  0px;
    width: 100%;  
 }
} 

@page {
  size: A4;
}

@page :left {
  margin-left: 2cm;
}

@page :right {
  margin-right: 2cm;
}

@page { 
  margin: 0; 
} */
