

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#main {
    position: relative;
    width: 1024px;
    height: 600px;
    margin: 50px auto 0 auto;
    text-align: center;
}

.txtContent
{
    width: 1000px;
    font-family:Arial; font-size:18px; color:#000;
    border:2px solid #3171ad;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    color:#3c556c; resize: none;
    overflow:hidden;
}

.txtContent:focus{outline-width:0;}

li {
    list-style: none;
}

.modal-dialog{
    width: 830px;
}
#keyboard {
margin: 0;
padding: 0;
list-style: none;
}
    #keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
.capslock, .tab, .left-shift {
    clear: left;
}
#keyboard .tab, #keyboard .delete {
    width: 70px;
}
#keyboard .capslock {
    width: 80px;
}
#keyboard .return {
    width: 77px;
}
#keyboard .left-shift {
    width: 95px;
}
#keyboard .right-shift {
    width: 109px;
}
.lastitem {
    margin-right: 0;
}
.uppercase {
    text-transform: uppercase;
}
#keyboard .space {
    clear: left;
    width: 681px;
}
.on {
    display: none;
}
#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}
#live-feedback{
    min-height: 768px;
}
.panel-body{
    min-height: 670px;
}